__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

budgetter-api/.venv
budgetter-api/.env
budgetter-api/.env.example
budgetter-api/.gitignore
budgetter-api/db.sqlite3
budgetter-api/README.md

budgetter-front/.nuxt
budgetter-front/.output
budgetter-front/node_modules
budgetter-front/.env
budgetter-front/.env.example
budgetter-front/.gitignore
